.co-op {
    background: rgb(248, 247, 255);
    .co-op-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        min-height: 200px;
        padding: 20px 10px;

        .co-op-box-head {
            h4 {
                padding: 10px;
                font-size: 1.5rem;
                text-align: center;
            }
        }
        
        .co-op-box-list {
            font-size: 1.8rem;
        }
        
    }
}